/* VARIABLE */

// SIZES
$max-width: 1200px;
$gutter: 20px;
$finger-size: 40px;
$border-radius: 3px;

// COLORS
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue: #F1F6FF;

// VARIA
$font-family: 'Open Sans', sans-serif;
